.star-rating-container{
    display: flex;
}
.star{
    padding: 5px 5px;
    border: 2px solid black;
    cursor: pointer;
}

.star.active{
    color: rgb(255, 186, 97);
    background-color: rgb(55, 60, 144);
}

.inactive:hover{
    color: rgb(255, 186, 97);
}