.star-rating-container{
    display: flex;
}
.star{
    padding: 5px 5px;
    border: 2px solid black;
    cursor: pointer;
}

.star.active{
    background-color: rgb(255, 186, 97);
}

.inactive:hover{
    background-color: rgb(255, 186, 97);
}